div#nav {
  float: left;
  padding-left: .5vw;
  padding-right: 1vw;
  width: 20vw;
}

div#nav nav ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: square;
}

div#nav nav li a {
  display: block;
  font-size: .875em;
}