div#nav {
  float: left;
  padding-left: .5vw;
  padding-right: 1vw;
  width: 20vw;
}

div#nav nav ul {
  display: block;
  list-style-type: square;
  list-style-position: inside
  padding: 0vw;
  margin: 0vw;
}

div#nav nav li a {
  font-size: .875em;
}