div#nav {
  float: left;
  padding-left: .5vw;
  padding-right: 1vw;
  width: 20vw;
  height: 100vh;
}

div#nav nav ul {
  display: block;
  list-style-type: square;
  list-style-position: outside;
  padding-left: 1vw;
  margin: 0;
}

div#nav nav li {
  font-size: .875em;
  padding: 0;
}